/* Lazy Load Styles */
.card-image {
    display: block;
    height: 12rem; /* Ajustez la hauteur pour mieux afficher les captures d'écran */
    background: #fff center center no-repeat;
    background-size: cover;
    transition: filter 0.5s, transform 0.3s ease-in-out;
}

.card-image > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure un ajustement correct des images */
    opacity: 0; /* Cache l'image pendant le chargement */
}

.card-image.is-loaded {
    filter: none; /* Supprime le flou une fois chargé */
    transform: scale(1); /* Assure que les images ne changent pas de taille */
}

/* Layout Styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.card-list {
    display: flex; /* Passe à une disposition flexbox */
    flex-wrap: wrap; /* Permet un retour à la ligne pour les cartes */
    justify-content: center; /* Centre les cartes */
    gap: 1rem; /* Espacement entre les cartes */
    margin: 1rem auto;
    padding: 0;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column; /* Empile les éléments (image, description) verticalement */
    width: 100%;
    max-width: 20rem;
    margin: 1rem;
    text-decoration: none;
    overflow: hidden;
    border-radius: 0.5rem; /* Coins légèrement arrondis */
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.025); /* Légère mise en avant au survol */
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    background-color: #f9f9f9; /* Couleur de fond pour mieux séparer les textes des images */
    color: #515151;
    text-align: center;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-description > p {
    margin: 0;
    font-size: 0.9rem;
    color: #777;
}
